<% provide(:title, "Edit user") %> 
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :tel %>
      <%= f.text_field :tel %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>

      <%= @user.avatar.present? ? image_tag(@user.avatar) : image_tag("http://www.sancoso.com/app/views/default/static/img/no-avatar.png") %>
      <%= f.file_field :avatar %><br />

      <%= f.submit "Save", class: "btn btn-large btn-primary" %><%= link_to "Cancel", user_path(@user), class: "btn btn-large"%>
    <% end %>

  </div>
</div>