<div class="test">
  <div class="search-product">
    <table>
      <%= search_form_for @q do |f| %>
        <tr class="tr-search">
          <td><%= f.text_field :name_cont, placeholder: "Từ khóa tìm" %></td>
          <td><%= f.collection_select :product_type_id_eq, ProductType.all, :id, :name, include_blank: "Tất Cả" %></td>
          <td><%= f.submit "Tìm Kiếm", class: "btn" %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class = "crumb">Trang Chủ > <%= link_to "Tất Cả Sản Phẩm", root_path %></div>
</div>
<table class="table-product table">
<% @products.each_slice(4) do |products|%>
  <tr>
  <% products.each do |product|%>
    <td class = "td-product">
      <div class="product-image">
        <%=link_to product.name, product_path(product) %> <br />
        <% if product.product_image1? %>
          <%=link_to image_tag(product.product_image1, width: "110", height: "130"), product_path(product) %>
        <% elsif product.product_image2? %>
          <%=link_to image_tag(product.product_image2, width: "110", height: "130"), product_path(product) %>
        <% elsif product.product_image3? %>
          <%=link_to image_tag(product.product_image3, width: "110", height: "130"), product_path(product) %>
        <% else %>
          <%=link_to image_tag("http://www.apeapp.org/wp-content/uploads/2013/09/cs.jpg", width: "110", height: "130", alt: "anh 1"), product_path(product) %>
        <% end %><br />
        Giá chỉ: <%= product.price %> VND
      </div>
    </td>
  <% end %>
  </tr>
<% end %>
<%= link_to t(".download"), products_path(format: "csv"), class: :btn %>
<tr><td colspan="5"><%= paginate @products %><td></tr>
</table>

