<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script id="facebook-jssdk" src="//connect.facebook.net/en_US/all.js#xfbml=1&amp;appId=767124323302603"></script>
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <title><%= content_for?(:title) ? yield(:title) : "SampleApp" %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div id="myCarousel" class="carousel slide">

        <!-- Carousel slides -->
        <div class="carousel-inner" width="70%" height="70%">
          <div class="active item">
            <%= link_to image_tag("http://www.trexglobal.com/property-management/wp-content/uploads/2010/02/real-estate-investment-property-canada.jpg", alt: "banner", id: "banner-img"), home_path %>
            
          </div>
          <div class="item">
              <%= link_to image_tag("http://news.worldwidepropertydevelopments.com/wp-content/uploads/2008/09/feature.jpg", alt: "banner", id: "banner-img"), home_path %>
          </div>
          <div class="item">
              <%= link_to image_tag("http://images.realestate.com/re/homepage/theme4/2.jpg", alt: "banner", id: "banner-img"), home_path %>
          </div>
        </div>
          <!-- Carousel navigation -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a> <a class="carousel-control right"
              href="#myCarousel" data-slide="next">›</a>
      </div>
    </div>
    <div class="navbar navbar-fluid-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <div class="container">
            <nav>
              <ul class="nav pull-left">
                <% if signed_in? %>
                  <li><%= link_to "Posts", posts_path %></li>
                  <li><%= link_to "Products", products_path %></li>
                  <li><%= link_to "Home", root_path %></li>
                  <li><%= link_to "Help", help_path %></li>
                  <li><%= link_to "Contact", contact_path %></li>
                  <li><%= link_to "About Us", about_path %></li>
                <% end %>
              </ul>
              <ul class="nav pull-right">
                <% if signed_in? %>
                  <li id="fat-menu" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Manager", admin_products_path %></li>
                      <li><%= link_to "Profile", current_user %></li>
                      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to "Sign out", signout_path, method: "delete" %>
                      </li>
                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to "Sign in", signin_path %></li>
                <% end %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li><%= link_to "Posts", posts_path  %></li>
              <li><%= link_to "Products", products_path %></li>
              <li><%= link_to "Product_types", admin_product_types_path %></li>
            </ul>
          </div><!--/.well -->
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Like Us</li>
              <div id = "facebook_like_box">
              <div class="fb-like-box" data-href="https://www.facebook.com/pages/Shop-Mixu/479644552104276" data-width="210px" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
            </div>
            </ul>
          </div>
        </div><!--/span-->
        <div class="span9">
          <%= yield %>
        </div>
      </div><!--/row-->

      <footer>
        <small>
          <p>&copy; Company 2014</p>
          <a href="http://railstutorial.org/">Rails demo web</a>
          by Hoang Quan
        </small>
        <nav>
          <ul>
            <li><%= link_to "About",   about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="http://google.com">News</a></li>
          </ul>
        </nav>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
